.cardContainer{
    max-width: 400px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #9de21d;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}